/* common styles */
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* common color */
.primary-color{
    color: #FD6E0A;
}
/* all button styles */
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 10px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}
.nav-style{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
.header{
    background: #FFF8F3;
}
.box{
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
