/* common styles */
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* common color */
.primary-color{
    color: #FD6E0A;
}
/* all button styles */
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 10px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
}
.nav-style{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
/* banner style */
.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.box{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.image{
    width: 500px;
}
.text{
    max-width: 500px;
}
.text h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.text h1{
    color: #181818;
    font-size: 80px;
    font-weight: 700;
}
.text p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
/* main section style */
.about{
    margin: 0px 250px;
    border-radius: 10px;
    background: #FFF8F3;
}
.about-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 100px;
}
.about-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 400px;
}
.about-info-container{
    margin: 30px 400px;
    display: flex;
    justify-content: space-around;
}
.about-info{
    padding-bottom: 100px;
    text-align: center; 
}
/* what do section */
.info{
    display: flex;
    margin: 80px 280px;
    justify-content: space-around;
}
.info-details{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    padding: 30px;
}
/* summary section style */
.education-experiance-info{
    display: flex;
    margin: 80px 230px;
    gap: 50px;
}
.download-cv{
    text-align: center;
}
/* footer section styles */
.total-container{
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}
.form-details input, textarea, button{
    display: block;  
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
} 
.total-container{
    display: flex;
}
.form-details{
    border-radius: 5px;
    background:#FFF;
    box-shadow: none;
}
.footer-title{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
}
.footer-description{
    color:#474747;
    font-size: 16px;
    font-weight: 400;
}

